<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>IMDb Visualization</title>

    <!-- Bootstrap Core CSS -->
    {% load staticfiles %}
    <link href="{% static 'movies/bower_components/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    
    <!-- Bootstrap Social CSS -->
    <link href="{% static 'movies/bower_components/bootstrap-social/bootstrap-social.css' %}" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="{% static 'movies/dist/css/timeline.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'movies/dist/css/sb-admin-2.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'movies/bower_components/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <!-- Top Navigation Bar -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">IMDb Visualization</a>
            </div>
          <!-- Side Navigation Bar -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                          <form role="form" method="post">
                            <div class="input-group custom-search-form">
                                {% csrf_token %}
                                {{ SearchForm }}
                                <!--
                                <input type="text" class="form-control" placeholder="Search...">
                                -->
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                          </form>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Home</a>
                        </li>
                        <li>
                            <a href="date_range_movies/"><i class="fa fa-bar-chart-o fa-fw"></i> Movie Calendar</span></a>
                        </li>
                        <li>
                            <a href="movie_genres/"><i class="fa fa-table fa-fw"></i> Genre Graph</a>
                        </li>
                        <li>
                            <a href="actor_genres/"><i class="fa fa-edit fa-fw"></i> Actor Word Cloud</a>
                        </li>
                        <li>
                        <!--<a href="tv_ratings.html"><i class="fa fa-wrench fa-fw"></i> TV Ratings</a>-->
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">IMDb Visualization</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-comments fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">9</div>
                                    <div>New Comments!</div>
                                </div>
                            </div>
                        </div>
                        <a href="comments.html">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tasks fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">5</div>
                                    <div>New Features!</div>
                                </div>
                            </div>
                        </div>
                        <a href="features.html">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-shopping-cart fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">124</div>
                                    <div>New Movies!</div>
                                </div>
                            </div>
                        </div>
                        <a href="https://urldefense.proofpoint.com/v2/url?u=http-3A__www.imdb.com_movies-2Din-2Dtheaters_-3Fref-5F-3Dinth-5Finth&d=AwMGaQ&c=-dg2m7zWuuDZ0MUcV7Sdqw&r=rznpdNat6AcJWVfELOKOVg81EioU_f-sSMD5VS6Aa08&m=RUGHnMJpsCC6ZvhXK_gzIBtQ0BsFWmC6iRjEvs_ENco&s=XF2Epqu0sizEuZ75ljUQ1n90aG1EDR9PTFr0-pDNbT4&e=">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-twitter-square fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">5</div>
                                    <div>Like Us!</div>
                                </div>
                            </div>
                        </div>
                        <a href="contact.html">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Movie Calendar Example
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                          {% load static %}
                          <img src="{% static 'pics/calendar_eg.png' %}" alt="calendar_eg" style="width:400px;height:400px;"> 
                          <a href="date_range_movies/" class="btn btn-default btn-block">View Details</a>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Genre Graph Example
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <!-- /.col-lg-4 (nested) -->
                                <div class="col-lg-12">
                                  {% load static %}
                                  <img src="{% static 'pics/genre_eg.png' %}" alt="genre_eg" style="width:350px;height=350px;"> 
                                  <a href="movie_genres/" class="btn btn-default btn-block">View Details</a>
                                </div>
                                <!-- /.col-lg-8 (nested) -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default" style="width:980px;">
                        <div class="panel-heading">
                            <i class="fa fa-clock-o fa-fw"></i> Movie News
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <ul class="timeline" style="width:940px;">
                                <li>
                                    <div class="timeline-badge"><i class="fa fa-check"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">'Star Wars: The Force Awakens' Receives PG-13 Rating</h4>
                                            <p><small class="text-muted"><i class="fa fa-clock-o"></i> 11 hours ago from Variety Film News</small>
                                            </p>
                                        </div>
                                        <div class="timeline-body">
                                            <p> “Star Wars: The Force Awakens” has officially received a PG-13 rating, for content described as “sci-fi action violence.”
                                            The seventh film in the popular franchise opens on Dec. 18 and is predicted to rack up at least $170 million over its domestic opening weekend. </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-inverted">
                                    <div class="timeline-badge warning"><i class="fa fa-credit-card"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Box Office: 'Creed' Punches Up Record $1.4 Million on Tuesday, Edges 'The Good Dinosaur'</h4>
                                            <p><small class="text-muted"><i class="fa fa-clock-o"></i> 11 hours ago from cinemablend.com</small>
                                            </p>
                                        </div>
                                        <div class="timeline-body">
                                          <p>"The Hunger Games: Mockingjay – Part 2" led a crowded field of box office contenders heading into the Thanksgiving holiday. The final film in the popular futuristic series nabbed $13.7 million on Wednesday, pushing its domestic haul to $183 million.</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="timeline-badge info"><i class="fa fa-save"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">What Indiewire is Thankful For This Year</h4>
                                        </div>
                                        <div class="timeline-body">
                                          <p>Mad Max and Rocky have been restored to their former glory; Pixar is a double threat for the first time; Netflix makes original feature films; USA Network is producing award-worthy drama series. The list goes on and on.  In celebration of Thanksgiving, the Indiewire team has come together to offer up some of our personal reflections on the movies, shows, trends and creators we are most grateful for this year.</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-8 -->
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Actor Word Cloud Example
                        </div>
                        <div class="panel-body">
                          {% load static %}
                          <img src="{% static 'pics/wordcloud_genre.png' %}" alt="genre_cloud" style="width:400px;height=400px;"> 
                          <a href="actor_genres/" class="btn btn-default btn-block">View Details</a>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="chat-panel panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-comments fa-fw"></i>
                            Comments
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body" style="height:300px">
                            <ul class="chat">
                                <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <img src="https://abs.twimg.com/sticky/default_profile_images/default_profile_2_200x200.png" width="50" height="50" alt="User Avatar" class="img-circle" />
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font">Avi Silberschatz</strong>
                                            <small class="pull-right text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i> 12 mins ago
                                            </small>
                                        </div>
                                        <p>This is a cool visualization tool. Now I can use it to query the IMDb database and display the results with cool graphics and charts.
                                        </p>
                                    </div>
                                </li>
                                <li class="right clearfix">
                                    <span class="chat-img pull-right">
                                        <img src="https://abs.twimg.com/sticky/default_profile_images/default_profile_3_400x400.png" width="50" heigth="50" alt="User Avatar" class="img-circle" />
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <small class=" text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i> 13 mins ago</small>
                                            <strong class="pull-right primary-font">Debayan Gupta</strong>
                                        </div>
                                        <p>Many students said that the project is taking up all of their time. 
                                        </p>
                                    </div>
                                </li>
                                <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <img src="https://abs.twimg.com/sticky/default_profile_images/default_profile_5_400x400.png" width="50" height="50" alt="User Avatar" class="img-circle" />
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font">Front End</strong>
                                            <small class="pull-right text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i> 14 mins ago</small>
                                        </div>
                                        <p>Create webpage using HTML and CSS. Use d3 to visualize data.
                                        </p>
                                    </div>
                                </li>
                                <li class="right clearfix">
                                    <span class="chat-img pull-right">
                                        <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTMvCOqu65BxTPvC2txtIlNtw7_30JBtj9MOfkzCjsWiIyB2lHc_g" width="50" height="50" alt="User Avatar" class="img-circle" />
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <small class=" text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i> 15 mins ago</small>
                                            <strong class="pull-right primary-font">Back End</strong>
                                        </div>
                                        <p>
                                        Create api.py to get data from database, process data and provide api needed by view.py.
                                        </p>
                                    </div>
                                </li>
                                <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <img src="http://f.tqn.com/y/twitter/1/L/C/-/-/-/Screen-Shot-2013-03-23-at-3.00.33-PM.png" width="50" height="50"  alt="User Avatar" class="img-circle" />
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <small class=" text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i> just now</small>
                                            <strong class="pull-left primary-font">You</strong>
                                        </div>
                                        <p>{% block title %}{{ comment }}{% endblock %}</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- /.panel-body -->
                        <div class="panel-footer">
                            <div class="input-group">
                                <form role="form" method="post">
                                  {% csrf_token %}
                                  {{ CommentForm }}
                                  <!--
                                  <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                                  -->
                                      <button type="submit" class="btn btn-warning btn-sm">
                                          Post
                                      </button>
                                </form>
                            </div>
                        </div>
                        <!-- /.panel-footer -->
                    </div>
                    <!-- /.panel .chat-panel -->
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

</body>

</html>
